# Things that would be illegal.
*.nds
*.tar.gz
TMP

# .NET
obj
bin
Tools/KingWhomp/Src

# CPP
newcode.bin
build
*.elf
*.sym

# Ninja stuff.
.ninja_deps
.ninja_log

# Things I have around.
Ndst
Ndst.exe
MOM.xdelta

# Illegal or unwanted folders.
Base
MOM
ConvertBase
ConvertShininger
Shininger
